<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChooseMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F11B99EC1D54431A00457CA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F11B9A001D54431A00457CA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F11B9A0B1D54431A00457CA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
